html,body{
    background-color: #D2C8EC  !important;
}

.content-container {
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 20px;
}

.mg-bottom{
    margin-bottom: 24px;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}