<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="content-container">
        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Types of Inheritance
        </h1>
        <img src="../../assets/Types of inheritance.png" style="width: 540px; height: 418px;">
        <br>
        <ul class="list-disc">
            <li class="poppins-medium mg-bottom"> <b>Single Inheritance</b>: The most basic type of inheritance. A single child class inherits form a single parent class.</li>
            <li class="poppins-medium mg-bottom"> <b>Hierarchical Inheritance</b>: Multiple subclasses inherit from the same superclass.</li>
            <li class="poppins-medium mg-bottom"> <b>Multiple Inheritance</b>: A child class inherits from more than one parent class.</li>
            <li class="poppins-medium mg-bottom"> <b>Multilevel Inheritance</b>: A class inherits from a superclass, and then another class inherits from that subclass. This forms a chain of inheritance. </li>
            <li class="poppins-medium mg-bottom"> <b>Hybrid Inheritance</b>: is a combination of two or more types of inheritance. It's called "hybrid" because it mixes various forms of inheritance to create a complex hierarchy. </li>
        </ul>
    </div>
    <button class="btn 0 text-black hover:bg-orange-600 border-orange-500 hover:border-orange-600 focus:outline-none mg-bottom" (click)="next()">
        Next
    </button>

</body>
</html>

