<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="content-container">
        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Activity 1
        </h1>
        <div *ngFor="let question of questions; let qIndex = index">
            <h3>{{ question.text }}</h3>
            <div *ngFor="let option of question.options; let oIndex = index">
              <button class="MutipleChoice"
                [ngClass]="{'correct': question.selectedIndex === oIndex && option.isCorrect, 'incorrect': question.selectedIndex === oIndex && !option.isCorrect}"
                (click)="selectOption(qIndex, oIndex)"
                [disabled]="question.selectedIndex !== null">
                {{ option.text }}
              </button>
            </div>
            <div *ngIf="question.selectedIndex !== null">
              <p>{{ question.feedbackMessage }}</p>
            </div>
            <br>
            <hr>
          </div>
          
          <div class="button-container">
            <div class="marks-container">
              <button class="btn bg-orange-500 text-black hover:bg-orange-600 border-orange-500 hover:border-orange-600 focus:outline-none mg-bottom" (click)="marks()">
                Marks
              </button>
              <h3 *ngIf="isVisible" class="total-marks">{{ TotalMarks }}</h3>
            </div>
            
            <button *ngIf="showNextButton" class="btn bg-orange-500 text-black hover:bg-orange-600 border-orange-500 hover:border-orange-600 focus:outline-none mg-bottom" (click)="next()">
              Next
            </button>
          </div>
    </div>

</body>
</html>




