$primary-color: #3b82f6;
$secondary-color: #f97316;
$text-color: black;
$text-light: black;

.activity-container {
  background-color: #e0f2fe;
  padding: 2rem;
  min-height: 100vh;
  display: row;
  justify-content: center;
  align-items: center;
}

h2{
  color: #084F82;
  }

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #084F82;
}


p {
    margin-bottom: 1rem;
    color: black;

}

input[type="text"] {
  width: 10%;              // Makes the input take up full width of its container
  padding: 5px;            // Adds padding inside the input box
  font-size: 16px;          // Adjusts the text size
  border: 1px solid #ccc;  // Adds a border with a light gray color
  border-radius: 4px; // Rounds the corners of the input box
  color: black;
  background-color: #f9f9f9; // Sets a light background color
  transition: border-color 0.3s; // Smooth transition effect for the border

  &:focus {
    border-color: #4a90e2; // Changes the border color when the input is focused
    outline: none;         // Removes the default focus outline
  }
}



.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

button {
  background-color: blue;
  color: white;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;

  &:hover {
    background-color: blue;
  }

  @media (min-width: 768px) {
    width: auto;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

button {
  background-color: $secondary-color;
  color: white;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}
