html{
    background-color: #A5DDA4  !important;
}

.content-container {
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 20px;
}

.mg-bottom{
    margin-bottom: 24px;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }