<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="content-container">
        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Inheritance
        </h1>

        <p class="poppins-medium mg-bottom">
            Inheritance is one of the core principles of Object-Oriented Programming (OOP). Inheritance is a mechanism that allows one class (called a child class or subclass) to inherit properties and behaviors (i.e., attributes and methods) from another class (called a parent class or superclass).
        </p>

        
        <div class="grid grid-cols-2 gap-5">
            <div>
                <img src="../../assets/child_parent.jpg" style="width: 470px; height: 418px;">
            </div>
            <div class="grid grid-cols-1 gap-5">
                <p class="poppins-medium mg-bottom" style="margin-top: 40px; margin-bottom: 130px;">
                    The class whose properties and behaviours are inherited is referred to as the Parent class/Super class.
                </p>
                <p class="poppins-medium mg-bottom">
                    The class that inherits the properties and behaviours is referred to as the Child class/subclass.
                </p>
            </div>

        </div>
        <br>
        
        <ul class="list-disc">
            <li class="poppins-medium mg-bottom"><b>The child class (or subclass) </b>inherits attributes and methods from the <b>parent class (or superclass)</b>. This means that the child class can use all the functionality of the parent class, while also extending or modifying it to meet its specific needs.</li>
            <li class="poppins-medium mg-bottom"><b>Method Overriding </b> can be used to redefine a method in the child class that is inherited from the parent class, allowing for behaviour that meets the child class' specific needs</li>
            <li class="poppins-medium mg-bottom">Inheritance encourages <b>reusability</b>, meaning you don’t need to rewrite code for common features.</li>
        </ul>
        

        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Types of Inheritance
        </h1>
        <img src="../../assets/Types of inheritance.png" style="width: 540px; height: 418px;">
        <br>
        <ul class="list-disc">
            <li class="poppins-medium mg-bottom"> <b>Single Inheritance</b>: The most basic type of inheritance. A single child class inherits form a single parent class.</li>
            <li class="poppins-medium mg-bottom"> <b>Hierarchical Inheritance</b>: Multiple subclasses inherit from the same superclass.</li>
            <li class="poppins-medium mg-bottom"> <b>Multiple Inheritance</b>: A child class inherits from more than one parent class.</li>
            <li class="poppins-medium mg-bottom"> <b>Multilevel Inheritance</b>: A class inherits from a superclass, and then another class inherits from that subclass. This forms a chain of inheritance. </li>
            <li class="poppins-medium mg-bottom"> <b>Hybrid Inheritance</b>: is a combination of two or more types of inheritance. It's called "hybrid" because it mixes various forms of inheritance to create a complex hierarchy. </li>
        </ul>

    </div>
</body>
</html>