@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

.sidenav-container {
    height: 100vh;
  }
  
  mat-toolbar {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
  }
  
  .content {
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;
  }
  
  mat-card {
    margin: 16px 0;
    padding: 16px;
  }
  
  a.mat-list-item {
    font-weight: bold;
  }

  .side-by-side {
    display: flex;
    align-items: center;
  }
  
  .side-image {
    width: 50px; /* Adjust width as needed */
    margin-right: 16px;
  }
  
  .card-container {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .card-image img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-content {
    flex: 1;
  }
  
  @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card-image img {
      max-width: 100%;
    }
  }
  