<mat-card>
    <div class="card-container">
      <div class="card-image">
        <img mat-card-image src="assets/images/group.webp" alt="Group image">
      </div>
      <div class="card-content">
        <mat-card-header>
          <mat-card-title>Offline Activity:</mat-card-title>
          <mat-card-subtitle>Understanding the Basics</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <hr>
                <strong>Activity:</strong> Encapsulation in Everyday Objects.
                <ul>
                    <li><strong>Task:</strong>
                        <p>In small groups, think of a real-world object (e.g., a water bottle, car, or phone).</p>
                    </li>
                    <li><strong>Discussion:</strong>
                        <ul>
                            <li>
                                What attributes (data) does it have? (e.g., for a water bottle: colour, capacity).
                            </li>
                            <li>
                                What actions (methods) can be done with it? (e.g., for a water bottle: fill, drink).
                            </li>
                            <li>
                                What should be private (data) and what should be public (methods)?
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/encapsulation/description">Next: Description</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
  
