<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="content-container">
        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Inheritance Offline Activity
        </h1>

        <h3 class="text-2xl font-bold poppins-medium">Preconditions: </h3>
        <ul class="list-disc">
            <li class="poppins-medium mg-bottom">This activity should be done with a minimum of 9 participants.</li>
            <li class="poppins-medium mg-bottom">The participants should be in person. </li>
            <li class="poppins-medium mg-bottom">The activity should be done in a classroom or outside.</li>
            <li class="poppins-medium mg-bottom">A pen and paper are required.</li>
        </ul>
        
        <h3 class="text-2xl font-bold poppins-medium">Activity Description: </h3>
        <ul class="list-disc">
            <li class="poppins-medium mg-bottom">Students are divided into groups.</li>
            <li class="poppins-medium mg-bottom"> Each group is assigned a single Animal from the group of Animal species:  Elephant, Octopus, Lion, Eagle, Shark, Scorpion, Rhino, Rabbit, Duck, Sheep.</li>
            <li class="poppins-medium mg-bottom">Each group comes up with attributes and behaviours for their assigned animal.</li>
            <li class="poppins-medium mg-bottom">Each group then presents the attributes for their assigned animal and the attributes that they think are common with other groups.</li>
            <li class="poppins-medium mg-bottom">All groups then consolidate the common attributes and assign them to the Animal super class.</li>
            
        </ul>



        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Summary
        </h1>

        <ul class="list-disc">
            <li class="poppins-medium mg-bottom"> <b>Child Class/SubClass</b>: A class that inherits attributes and methods from the parent class. </li>
            <li class="poppins-medium mg-bottom"> <b>Parent Class/SuperClass</b>: A class whose attributes and methods are inherited by the child class. </li>
            <li class="poppins-medium mg-bottom"> There are five types of inheritance: Single Inheritance, Multiple Inheritance, Multilevel Inheritance, Hierarchical Inheritance, Hybrid Inheritance.</li>
            <li class="poppins-medium mg-bottom"> <b>Method Overloading</b>: allows methods in the child class to perform similar but slightly different tasks from the parent class.</li>
            <li class="poppins-medium mg-bottom"> <b>Reusability</b>: is the practice of designing and writing code in a way that allows it to be used again in different contexts without modification. </li>
        </ul>
    
        <button class="btn 0 text-black hover:bg-orange-600 border-orange-500 hover:border-orange-600 focus:outline-none mg-bottom" (click)="next()">
            HomePage
        </button>
    </div>
</body>
</html>