<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="content-container">
        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Home page
        </h1>
    </div>

    <div>
        <button class="btn btn-success mg-bottom" (click) = "goToClasses()">Classes, Object & UML</button>
    </div>

    <div>
        <button class="btn btn-success mg-bottom" (click) = "goToPolymorphism()">Polymorphism</button>
    </div>

    <div>
        <button class="btn btn-success mg-bottom" (click) = "goToInheritance()">Inheritance</button>
    </div>

    <div>
        <button class="btn btn-success mg-bottom" (click) = "goToRelationships()">Relationships</button>
    </div>


    <div>
        <button class="btn btn-success mg-bottom" (click) = "goToEncapsulation()">Encapsulation</button>
    </div>

    <div>
        <button class="btn btn-success mg-bottom" (click) = "goToAbstraction()">Abstraction</button>
    </div>


    


    
</body>

