<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
    <body>
        <div class="content-container">
            
            <h1 class="text-4xl font-bold mt-8 mg-bottom-32">
                Pop-Quiz
            </h1>

            <div>
                <label class="poppins-medium">
                    A class is a _______ that deines the characteristics
                    and behaviours of an object.
                </label> <br> <br>
                
            
                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion1" type="radio" id="id_framework" class="radio" name="question_1" value="framework" style="margin-right: 6px;">
                    <label for="id_framework" class="poppins-regular">framework</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion1" type="radio" id="id_blueprint" class="radio" name="question_1" value="blueprint" style="margin-right: 6px;">
                    <label for="id_blueprint" class="poppins-regular">blueprint</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion1" type="radio" id="id_structure" class="radio" name="question_1" value="structure" style="margin-right: 6px;">
                    <label for="id_structure" class="poppins-regular">structure</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion1" type="radio" id="" class="radio" name="question_1" value="function" style="margin-right: 6px;">
                    <label for="id_function" class="poppins-regular">function</label>
                </div><br>

                <label class="poppins-medium">
                    True or False: Objects are the fundamental units in Object Oriented Programming.
                </label> <br> <br>
                
            
                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion2" type="radio" id="id_true_2" class="radio" name="question_2" value="true_2" style="margin-right: 6px;">
                    <label for="id_true_2" class="poppins-regular">True</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion2" type="radio" id="id_false_2" class="radio" name="question_2" value="false_2" style="margin-right: 6px;">
                    <label for="id_false_2" class="poppins-regular">False</label>
                </div><br>
                

                <label class="poppins-medium">
                    True or False: An Object can exist without a class.
                </label> <br> <br>
                
            
                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion3" type="radio" id="id_true_3" class="radio" name="question_3" value="true_3" style="margin-right: 6px;">
                    <label for="id_true_3" class="poppins-regular">True</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion3" type="radio" id="id_false_3" class="radio" name="question_3" value="false_3" style="margin-right: 6px;">
                    <label for="id_false_3" class="poppins-regular">False</label>
                </div><br>

                <label class="poppins-medium">
                    Attributes are the _______ of a class.
                </label> <br> <br>
                
            
                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion4" type="radio" id="id_4_1" class="radio" name="question_4" value="behaviour" style="margin-right: 6px;">
                    <label for="id_4_1" class="poppins-regular">behaviour</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion4" type="radio" id="id_4_2" class="radio" name="question_4" value="factors" style="margin-right: 6px;">
                    <label for="id_4_2" class="poppins-regular">factors</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion4" type="radio" id="id_4_3" class="radio" name="question_4" value="states" style="margin-right: 6px;">
                    <label for="id_4_3" class="poppins-regular">states</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion4" type="radio" id="id_4_4" class="radio" name="question_4" value="characteristics" style="margin-right: 6px;">
                    <label for="id_4_4" class="poppins-regular">characteristics</label>
                </div><br>

                <label class="poppins-medium">
                    Methods represent the _______ of a class.
                </label> <br> <br>
                
            
                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion5" type="radio" id="id_5_1" class="radio" name="question_5" value="behaviour" style="margin-right: 6px;">
                    <label for="id_5_1" class="poppins-regular">behaviour</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion5" type="radio" id="id_5_2" class="radio" name="question_5" value="factors" style="margin-right: 6px;">
                    <label for="id_5_2" class="poppins-regular">factors</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion5" type="radio" id="id_5_3" class="radio" name="question_5" value="functions" style="margin-right: 6px;">
                    <label for="id_5_3" class="poppins-regular">functions</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion5" type="radio" id="id_5_4" class="radio" name="question_5" value="states" style="margin-right: 6px;">
                    <label for="id_5_4" class="poppins-regular">states</label>
                </div><br>

                <label class="poppins-medium">
                    Which is NOT a characteristic of an attribute and/or Method?
                </label> <br> <br>
                
            
                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion6" type="radio" id="id_6_1" class="radio" name="question_6" value="a_6_1" style="margin-right: 6px;">
                    <label for="id_6_1" class="poppins-regular">Persist the state of each action in the class</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion6" type="radio" id="id_6_2" class="radio" name="question_6" value="a_6_2" style="margin-right: 6px;">
                    <label for="id_6_2" class="poppins-regular">Persist the state of a class</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion6" type="radio" id="id_6_3" class="radio" name="question_6" value="a_6_3" style="margin-right: 6px;">
                    <label for="id_6_3" class="poppins-regular">Distinguish different types of classes</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion6" type="radio" id="id_6_4" class="radio" name="question_6" value="a_6_4" style="margin-right: 6px;">
                    <label for="id_6_4" class="poppins-regular">Define actions to perform at each state</label>
                </div><br>

                <label class="poppins-medium">
                    SoftBank wants to build a crypto exchange platform for their customers to buy and sell crypto coins. To buy or sell coins, a user needs to send their
                    orders to the exchange, and the exchange debits or credits their wallet based on the transaction type (buy or sell). Identify the classes required to
                    build this platform.
                </label> <br> <br>
                
            
                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion7" type="radio" id="id_7_1" class="radio" name="question_7" value="a_7_1" style="margin-right: 6px;">
                    <label for="id_7_1" class="poppins-regular">User,Account,Wallet,Exchange</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion7" type="radio" id="id_7_2" class="radio" name="question_7" value="a_7_2" style="margin-right: 6px;">
                    <label for="id_7_2" class="poppins-regular">User,Account,Orders,Exchange</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion7" type="radio" id="id_7_3" class="radio" name="question_7" value="a_7_3" style="margin-right: 6px;">
                    <label for="id_7_3" class="poppins-regular">User,Wallet,Exchange</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion7" type="radio" id="id_7_4" class="radio" name="question_7" value="a_7_4" style="margin-right: 6px;">
                    <label for="id_7_4" class="poppins-regular">SoftBank,User,Account</label>
                </div><br>

                <label class="poppins-medium">
                    True or False: A Car Class can have two different states.
                </label> <br> <br>
                
            
                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion8" type="radio" id="id_true_8" class="radio" name="question_8" value="true_8" style="margin-right: 6px;">
                    <label for="id_true_2" class="poppins-regular">True</label>
                </div>

                <div class="mg-bottom-4 div-radio-label">
                    <input [(ngModel)]="selectedAnswerQuestion8" type="radio" id="id_false_8" class="radio" name="question_8" value="false_8" style="margin-right: 6px;">
                    <label for="id_false_2" class="poppins-regular">False</label>
                </div><br>

                <button class="btn btn-success mg-bottom" (click) = "mark()">Mark</button>
                <label class="label-mark poppins-regular">Points: {{points}}</label>
                <button *ngIf="showNextButton" 
                    class="btn bg-orange-500 text-black hover:bg-orange-600 border-orange-500 hover:border-orange-600 focus:outline-none mg-bottom" (click)="next()">
                    next
                </button>

            </div>
            
        </div>
    </body>
</html>