<mat-card>
    <div class="card-container">
      <div class="card-image">
        <img mat-card-image src="assets/images/encapsulation.png" alt="Pill representing encapsulation">
      </div>
      <div class="card-content">
        <mat-card-header>
          <mat-card-title>Introduction to Encapsulation</mat-card-title>
          <mat-card-subtitle>Understanding the Basics</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <ul>
                    <li><strong>Definition:</strong>
                        <p>Encapsulation means keeping some information hidden (private) and only allowing access to it
                            through specific ways (methods). It's like a TV remote — you press buttons (methods), but you
                            don’t see or control the complex circuits inside (data).</p>
                    </li>
                    <li><strong>OOP:</strong>
                        <p>Object-Oriented Programming is a way to organise code by creating objects that represent
                            real-world things, like a person, a car, or a book. Each object has attributes (data) and
                            actions (methods) it can perform.</p>
                    </li>
                </ul>
            </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/encapsulation/description">Next: Description</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
  