<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="content-container">
        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Diagrams
        </h1>

        <p class="poppins-medium mg-bottom">
            Diagrams provide a visual way to represent objects and classes. In practice, it’s not necessary to create a highly 
            detailed or artistic drawing every time you want to illustrate a Class or Object, its attributes, and methods—simple,
            clear representations are ideal. We use diagrams, specifically UML Class diagram and UML Object diagram to represent 
            our ideas of what the Class or Object should look like.
        </p>

    </div>
</body>