<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="content-container">
        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Activity 2
        </h1>
        <h4>Select the correct type of inheritance for each inheritance diagram</h4>

        <div *ngFor="let imageType of imageTypes" class="image-container">
            <img [src]="imageType.imageUrl" alt="Image" class="image" /> 
            <div>
              <select (change)="onSelectType(imageType.imageUrl, $event)">
                <option value="" disabled selected>Select type</option>
                <option *ngFor="let type of ['Single', 'Multiple', 'Multilevel','Hybrid','Hierarchical']" [value]="type">{{ type }}</option>
              </select>
            </div>
            <hr>

            
          </div>
          
          <div class="button-container">
            <div class="marks-container">
              <button class="btn bg-orange-500 text-black hover:bg-orange-600 border-orange-500 hover:border-orange-600 focus:outline-none mg-bottom" (click)="marks()">
                Marks
              </button>
              <h3 *ngIf="isVisible" class="total-marks">{{ TotalMarks }}</h3>
            </div>
            
            <button *ngIf="showNextButton" class="btn bg-orange-500 text-black hover:bg-orange-600 border-orange-500 hover:border-orange-600 focus:outline-none mg-bottom" (click)="next()">
              Next
            </button>
          </div>
        
    </div>
</body>
</html>
