<div id="login-content-container" class="flex flex-col justify-center items-center h-screen gap-4">
    <div class="card bg-base-100 w-96 shadow-xl gap-4 p-8">
        <label class="input input-bordered flex items-center gap-2">
            Email
            <input type="email" class="grow" placeholder="daisy@site.com" />
        </label>

        <label class="input input-bordered flex items-center gap-2">
            Password
            <input type="password" class="grow" />
        </label>

        <button class="btn btn-primary">login</button>
    </div>
</div>
