<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="content-container">
        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Classes
        </h1>

        <p class="poppins-medium mg-bottom">A class is a template that defines the characteristics and behaviours 
            of an object. An object can be anything, for example, a person, a car or a dog. Each object 
            has characteristics and behaviours that make the object unique. A class is a blueprint that 
            embeds these characteristics and behaviours into these objects to make them the objects they are.
        </p>
        

        <div class="grid grid-cols-3 gap-4">
            <div>01</div>
            <div>09</div>
            <div>09</div>
        </div>

        
    </div>
</body>
</html>