<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="content-container">
        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Classes
        </h1>

        <p class="poppins-medium mg-bottom">
            In Object-Oriented programming (OOP), a class is a blueprint that defines the characteristics and 
            behaviors of an object. Objects are the fundamental units of data in OOP. They help us store data and 
            perform actions on that data. An object can be anything, e.g, a Person, Car or Animal are examples of objects. 
            But an object cannot exist without a blueprint or a mold that shapes that object into existence. A class is that 
            blueprint or Mold that gives life to our objects.
        </p>

        <p class="poppins-medium mg-bottom">Let us look at some examples:</p>

        <div class="mg-bottom" style="display: flex; justify-content: center;">
            <img src="../../assets/classes_3.drawio.png" width="730px" height="730px">
        </div>

        <div class="poppins-medium mg-bottom">
            As you can see in the diagram, Batman and Bruce Whayne are part of the same Class, Person. The BatMobile and 
            Lamborghini are part of the same Car class as well. Each item can be unique in it's class category, but all 
            items of created from either class, Person or Car, will have the same characteristics and behaviour.
        </div>
        
        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Attributes and Methods
        </h1>
        
        <div class="poppins-medium mg-bottom">
            In Object-Oriented programming, we refer to the characteristics of a class as Attributes and the behavior of the 
            class as Methods. Both are used to: <br><br>
        
            <ul style="list-style-type: disc; margin-left: 20px;" class="mg-bottom">
                <li>Distinguish different types of classes</li>
                <li>Persist the state of a class (Attributes)</li>
                <li>Define actions to perform at each state (Methods)</li>
            </ul>

            <p class="poppins-medium mg-bottom">Let us look at some examples:</p>
            
            <div class="mg-bottom" style="display: flex; justify-content: center;">
                <img src="../../assets/ace_and_freeze.png" width="700px" height="700px">
            </div>

        </div>

        <div class="poppins-medium mg-bottom">
            The two classes represent two different objects, a Person and a Dog. Each Class has unique Attributes and Methods
            that help differentiate the class. For Example, The Person class has a Wife Name attribute and talk method. 
            While the Dog class has a breed attribute and bark method. Thus we see the important role that Attributes and Methods play in shaping the class.
        </div>
    
        <button class="btn bg-orange-500 text-black hover:bg-orange-600 border-orange-500 hover:border-orange-600 focus:outline-none mg-bottom" (click)="next()">
            Next
        </button>

        

        
    </div>
</body>
</html>