:host {
    background-color: #D2C8EC;
    display: block; /* Ensure it covers the component area */
    min-height: 100vh; /* Optional, to cover the full viewport height */
}


#car-class-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This ensures the container takes up the full height of the viewport */
}
  
.car-class-header-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
  
.car-class-header {
    font-size: 30px;
    font-weight: bold;
    border: solid black;
    padding-left: 50px;
    padding-right: 50px;
}
  
.sada-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attributes {
    margin-bottom: 0.5rem;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

