:host {
  background-color: #A5DDA4;
  display: block; /* Ensure it covers the component area */
  min-height: 100vh; /* Optional, to cover the full viewport height */
}

.content-container {
  margin: auto;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}


.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
  }

  .parent {
    padding: 10px 10px;
    border-radius: 3px;
    margin-bottom: 50px;
    font-weight: bold;
    position: relative;
  }

  .children {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
  }

  .child {
    padding: 10px 10px;
    border-radius: 3px;
    font-weight: bold;
    position: relative;
    margin: 0 auto; 
  }

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.marks-container {
  display: flex;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 5px;
}

.total-marks {
  margin-left: 10px;
  font-weight: bold;
}



  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 2 columns */
    grid-template-rows: repeat(3, auto);  /* 3 rows */
    gap: 1px;
}

.image-container img {
    width: 100%;  /* Make images take the full width of their grid cell */
    height: auto;  /* Maintain aspect ratio */
}
