<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="content-container">
        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Application
        </h1>
        
        <img src="../../assets/inheritancediagram.png" style="width: 540px; height: 418px;">
        <br>
        <p class="poppins-medium mg-bottom">
            Let's say you have an Animal class that has attributes like species, colour and weight and behaviour such as eat. Animal acts as a parent class. Species, colour and weight are common attributes that all animals have and eat is a behaviour all animals have. A Dog is a type of Animal. A Dog class can inherit these attributes from the Animal class but might add specific attributes such as breed or specific behaviour such as bark. A Lion is also a type of Animal and has specific behaviour such as roar.
        </p>
    </div>

</body>
</html>


